body {
    background-image: url(https://images.pexels.com/photos/5014708/pexels-photo-5014708.jpeg?cs=srgb&dl=pexels-arthousestudio-5014708.jpg&fm=jpg&_gl=1*e5xq74*_ga*MTQ1OTUyNTQxNS4xNzgwODk1NDMy*_ga_8JE65Q40S6*czE3ODA4OTU0MzIkbzEkZzEkdDE3ODA4OTU0NDYkajQ2JGwwJGgw);
    background-repeat: no-repeat;
color: red;

}

.container {
    max-width: 1000px
    marginfit-content 0 auto;
}

div {
    margin: 0 auto;
}

.banner {
    height: 350px;
    background-image: url("https://images.pexels.com/photos/15020541/pexels-photo-15020541.jpeg?cs=srgb&dl=pexels-dajana-reci-289671698-15020541.jpg&fm=jpg&_gl=1*113a69n*_ga*MTQ1OTUyNTQxNS4xNzgwODk1NDMy*_ga_8JE65Q40S6*czE3ODA4OTU0MzIkbzEkZzEkdDE3ODA4OTU0NDYkajQ2JGwwJGgw");

}

.banner {
    background-size: cover;
}

.banner {
    background-position: center;
}

.photo {
    background-position: 50percent right;
}

.icon {
    background-position: 0 100px;
}

a {
    color:aliceblue;
}

a:visited {
    color:aqua;
}

a:hover, a:active {
    color:green;
}




